<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../assets/css/mui.min.css">
		<script src="../assets/icon/iconfont.js"></script>
		<!--App自定义的css-->
		<!--<link rel="stylesheet" type="text/css" href="../css/app.css"/>-->
	</head>
	
	<style>
.icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
</style>

	<body>

		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">9宫格默认样式</h1>
		</header>
		<div class="mui-content">
		        <ul class="mui-table-view mui-grid-view mui-grid-9">
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    
<svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-xueren"></use>
</svg>
		                    <div class="mui-media-body">Blessing</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-shengdanhuahuan"></use>
</svg><span class="mui-badge">100</span></span>
		                    <div class="mui-media-body">Flowers</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		            	<svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-shengdanlaoren"></use>
</svg>
		                    <div class="mui-media-body">Cap</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-shengdanwa"></use>
</svg>
		                    <div class="mui-media-body">Stocking</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-liwu"></use>
</svg>
		                    <div class="mui-media-body">Gift</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-xinfeng"></use>
</svg>
		                    <div class="mui-media-body">Envelope</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-tangguo"></use>
</svg>
		                    <div class="mui-media-body">Sugar</div></a></li>
		            
		            
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-shengdanshu"></use>
</svg>
		                    <div class="mui-media-body">Tree</div></a></li>
		           
		           
		           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3"><a href="#">
		                    <svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-shengdanmao"></use>
</svg>
		                    <div class="mui-media-body">Snowman</div></a></li>
		        </ul> 
		</div>
	</body>
	<script src="../assets/js/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
</html>